*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
}

.flex-container
{
    display: flex;
    height: 100px;
    background-color: aqua;
    justify-content: center;
}

.flex-item
{
    flex: 1;
    background-color: green;
    border: 5px solid black;
}

#big-flex-item
{
    flex-grow: 1;
}